<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des employés</title>
</head>
<body>
    <h2>Liste des employés</h2>
    <table >
        <tr>
            <th>Nom</th>
            <th>description</th>
        
        </tr>
        {% for depp in la_departement %}
        <tr>
            <td>{{ depp.nom }}</td>
            <td>{{ depp.description }}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>
