<!-- START FOOTER SECTION -->
<footer class="text-center text-lg-start">
  <div class="container d-flex">
    <div class="left-footer d-flex flex-column gap-5">
      <div class="logo-photo">
        {% load static %}
        <img
        src="{% static 'images/logo_photo.png' %}"
        alt="login_photo"
        class="img-fluid logo-photo"
      /></div>
      <div class="footer_p text-secondary text-break text-wrap">
        Prêt à élever votre présence en ligne ? Contactez-nous dès aujourd'hui
        pour discuter de votre projet et découvrir comment nous pouvons donner
        vie à votre vision.
      </div>
      <div class="copyright text-secondary"><span class="text-dark">©</span> All rights reserved</div>
    </div>
    <div class="right-footer d-flex flex-column gap-5 justify-content-center">
      <div class="footer-links">
        <ul class="d-flex justify-content-center align-items-center gap-3">
          <li><a href="../index" class="text-secondary text-nowrap">Accueil</a></li>
          <li><a href="../about" class="text-secondary text-nowrap">À propos</a></li>
          <li><a href="../services" class="text-secondary text-nowrap">Services</a></li>
          <li><a href="../offer" class="text-secondary text-nowrap">Offre d'emploi</a></li>
          <li><a href="../contact" class="text-secondary text-nowrap">Contact</a></li>
        </ul>
      </div>
      <div class="footer-socials">
        <ul class="d-flex gap-4 justify-content-center">
          <li style="background-color: #0077B5;">
            <a href="https://linkedin.com/" target="_blank"><i class="bi bi-linkedin fs-4" ></i></a>
          </li>
          <li style="background-color: #D44638;">
            <a href="https://gmail.com/" target="_blank"><i class="bi bi-envelope-arrow-down-fill fs-4"></i></i></a>
          </li>
          <li style="background-color: #E4405F;">
            <a href="https://instagram.com/" target="_blank"><i class="bi bi-instagram fs-4"></i></a>
          </li>
          <li style="background-color: #1DA1F2;">
            <a href="https://x.com/" target="_blank"><i class="bi bi-twitter fs-4"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
