<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ADD BOOTSTRAP CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- ADD BOOTSTRAP ICONS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <!-- ADD CSS FILES -->
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Se connecter</title>
  </head>
  <body>
    <!-- START NAVBAR -->
    {% include 'html_of_pages/navbar.html' %}

    <!-- START LOGIN PAGE -->
    <div class="login">
      <section class="login-section d-flex justify-content-center gap-2">
        <div class="login-photo">
          <img src="{% static 'images/login_photo.png' %}" alt="your image" class="img-fluid" />
        </div>
        <form class="login-form" method="POST">
          {% csrf_token %}
          <!-- Afficher les messages d'erreur ou de succès -->
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
            <div
              class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} text-center"
              role="alert"
            >
              {{ message }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <h4 class="mb-3 text-center fw-bold">Connectez-vous ici</h4>
          <i class="bi bi-people d-flex justify-content-center mb-5"></i>
          <div class="form-middle d-flex flex-column">
            <div class="inputUsernameHolder">
              <input type="text" id="inputUsername" name="username" placeholder="Nom d'utilisateur" required />
            </div>
            <div class="mb-3 InputPasswordHolder d-flex align-items-end">
              <input type="password" id="InputPassword" name="password" placeholder="Mot de passe" required />
              <span class="toggle-password position-absolute end-0 me-3 mb-1" style="cursor: pointer">
                <i class="bi bi-eye"></i>
                <i class="bi bi-eye-slash d-none"></i>
              </span>
            </div>
          </div>
          <div class="form-bottom d-flex justify-content-between align-items-center gap-5 mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="remembermeCheckbox" name="remember_me" />
              <label class="form-check-label" for="remembermeCheckbox">Se souvenir de moi</label>
            </div>
            <div>
              <a href="{% url 'password_reset' %}" class="forgotPasswordLink special-text">Mot de passe oublié?</a>
            </div>
          </div>
          <div class="form-btns d-flex flex-column gap-2">
            <button type="submit" class="btn primary-button">Se connecter</button>
            <a href="{% url 'signup' %}" class="btn primary-button">S'inscrire</a>
          </div>
        </form>
      </section>
    </div>
    <!-- ADD BOOTSTRAP SCRIPT CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- INCLUDE JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      const togglePassword = document.querySelector(".toggle-password");
      const passwordInput = document.getElementById("InputPassword");
      const eye = togglePassword.querySelector(".bi-eye");
      const eyeSlash = togglePassword.querySelector(".bi-eye-slash");

      togglePassword.addEventListener("click", () => {
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
        passwordInput.setAttribute("type", type);
        eye.classList.toggle("d-none");
        eyeSlash.classList.toggle("d-none");
      });
    </script>
  </body>
</html>
