<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <div class="navbar-logo">
      <a href="{% url 'index' %}">
        {% load static %}
        <img
          src="{% static 'images/logo_photo.png' %}"
          alt="Logo TeamCore"
          class="img-fluid logo-photo"
        />
      </a>
    </div>
    <div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fs-6  {% if active_page == 'index' %}active{% endif %}" href="{% url 'index' %}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6  {% if active_page == 'about' %}active{% endif %}" href="{% url 'about' %}">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6  {% if active_page == 'services' %}active{% endif %}" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
                            <!--quand tu creer page offre ajoute offre a la place de index et cette ligne de if dans class=" "-->
                            <!-- {% if active_page == 'offer' %}active{% endif %} -->
            <a class="nav-link fs-6 " href="{% url 'index' %}">Offre d'emplois</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-6  {% if active_page == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-btn">
      <a href="{% url 'login' %}" class="btn btn-login">Se connecter</a>
      <a href="{% url 'signup' %}" class="btn btn-signup primary-button text-light">S'inscrire</a>
    </div>
  </div>
</nav>