/**** START GLOBAL RULES ****/
body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: var(--font-size-regular) !important;
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-size: var(--font-size-extraLarge);
  line-height: 1.2;
}

/**** DECLARING USED COMPONENTS ****/
.primary-button {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.primary-button:hover {
  background-color: var(--primary-color-hover) !important;
  color: #fff !important;
}

.secondary-button {
  background-color: #fff !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}
.secondary-button:hover {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border: 1px solid var(--primary-color) !important;
}

.form-control {
  border: 1px solid #dee2e6 !important;
  border-radius: 5px !important;
  padding: 10px 15px !important;
  font-size: 1rem !important;
}
.form-control::placeholder {
  color: #6c757d !important;
}
.form-control:focus {
  border-color: #007bff !important;
  box-shadow: none !important;
}

.special-text {
  color: var(--primary-color) !important;
}
.special-text:hover {
  color: var(--primary-color-hover) !important;
}

.textSuccess {
  background-color: var(--success-color);
}
.textFailed {
  background-color: var(--danger-color);
}
.textInfo {
  background-color: var(--info-color);
}
.textWarning {
  background-color: var(--warning-color);
}

.btnInfo {
  background-color: #ffffff !important;
  border: 1px solid var(--info-color) !important;
  color: var(--info-color) !important;
}
.btnInfo:hover {
  background-color: var(--info-color) !important;
  color: #ffffff !important;
}
.btnDanger {
  background-color: #ffffff !important;
  border: 1px solid var(--danger-color) !important;
  color: var(--danger-color) !important;
}
.btnDanger:hover {
  background-color: var(--danger-color) !important;
  color: #ffffff !important;
}
.btnWarning {
  background-color: var(--warning-color) !important;
}
.btnWarning:hover {
  background-color: #f8bc06 !important;
}
