/**** INCLUDE EXTERN CSS FILES ****/
@import url("./index.css");

/**** START LOGIN PAGE ****/
.login {
  background-color: var(--background-color);
  height: 100vh;
  margin-top: 80px; /* Ajouter de l'espace pour la navbar */
}

.login-section {
  background-color: #fff;
  width: min(90%, 900px);
  position: relative; /* Change absolute en relative pour éviter que ça ne soit derrière la navbar */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  z-index: 999; /* S'assurer que c'est derrière la navbar */
}

.login-section i.bi-people {
  font-size: var(--font-size-extraLarge);
}

.login .login-photo {
  flex: 1;
}
.login .login-form {
  flex: 0.98;
}
.login .login-photo img {
  max-width: 100%;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  border: none; /* Pas de bordure visible */
  border-bottom: 1px solid var(--text-color-secondary); /* Bordure uniquement en bas */
  padding: 12px 15px; /* Espacement interne pour une apparence uniforme */
  font-size: 16px; /* Taille de la police uniforme */
  width: 100%; /* Champs prennent toute la largeur */
  box-sizing: border-box; /* Inclut padding et border dans la largeur totale */
}

.login-form input[type="email"]:focus,
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  outline: none; /* Retirer le contour par défaut du focus */
  border-bottom: 2px solid var(--primary-color); /* Changer la couleur de la ligne en bas au focus */
}

/* Importer une photo */
.custom-file-label {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border: 1px solid #ced4da;
  border-radius: var(--radius-md);
  cursor: pointer;
}
.custom-file-label:hover {
  background-color: #e9ecef;
}

/**** MEDIA QUERIES FOR LOGIN PAGE ****/
@media (max-width: 768px) {
  .login-section {
    flex-direction: column !important;
  }
  .login .login-photo {
    display: none;
  }

  .form-bottom .forgotPasswordLink,
  .form-bottom .form-check {
    font-size: var(--font-size-small);
  }

  .form-btns .btn {
    font-size: var(--font-size-small);
  }
}
