<!-- Header -->
<div class="header">
  <div class="logo-section">
    {% load static %}
    <a href="{% url 'index' %}">
      <img
        src="{% static 'images/logo_photo.png' %}"
        alt="logo"
        class="logo-photo"
      />
    </a>
  </div>
  <div class="header-right">
    <i class="bi bi-bell-fill"></i>
  </div>
</div>

<!-- Sidebar -->
<nav class="sidebar" id="sidebar">
  <div
    class="sidebar-profile d-flex align-items-center justify-content-center mb-5 mt-3 gap-2"
  >
    <div class="profile-holder">
      {% load static %}
      <img
        src="{{ user.utilisateur.url_photo|default:'https://via.placeholder.com/40' }}"
        alt="Profile photo"
        class="img-fluid profile_pic"
      />
    </div>
    <div class="profile-text d-flex flex-column">
      <span class="profile-title fw-bold fs-5">{{ user.username }}</span>
      <span class="profile-description text-white-50 text-secondary">
        {{ user.utilisateur.role.nom_role }}
      </span>
    </div>
  </div>

  <a class="nav-link" href="{% url 'dashboard' %}" onclick="setActive(this)">
    <i class="bi bi-bounding-box"></i>
    Dashboard
  </a>

  <!-- prettier-ignore -->
  {% if user.is_authenticated and user.utilisateur.role.nom_role == 'RH' %}
  <!-- Liens réservés aux RH -->
  <a class="nav-link" href="{% url 'departments' %}" onclick="setActive(this)">
    <i class="bi bi-buildings"></i>
    Département
  </a>
  <a class="nav-link" href="{% url 'employees' %}" onclick="setActive(this)">
    <i class="bi bi-person-vcard-fill"></i>
    Employés
  </a>
  <a class="nav-link" href="{% url 'contracts' %}" onclick="setActive(this)">
    <i class="bi bi-suitcase-lg-fill"></i>
    Contrat
  </a>
  <a class="nav-link" href="{% url 'performance' %}" onclick="setActive(this)">
    <i class="bi bi-graph-up-arrow"></i>
    Performance
  </a>
  <a
    class="nav-link"
    href="{% url 'joboffer_dashboard' %}"
    onclick="setActive(this)"
  >
    <i class="bi bi-calendar-check"></i>
    Offre d'emploi
  </a>
  <a class="nav-link" href="{% url 'candidates' %}" onclick="setActive(this)">
    <i class="bi bi-person-bounding-box"></i>
    Candidat
  </a>
  <a class="nav-link" href="{% url 'rh_trainings' %}" onclick="setActive(this)">
    <i class="bi bi-book"></i>
    Formations
  </a>
  <a class="nav-link" href="{% url 'utilisateurs' %}" onclick="setActive(this)">
    <i class="bi bi-person-plus-fill"></i>
    Utilisateurs
  </a>
  <!-- prettier-ignore -->
  {% endif %} {% if user.is_authenticated and user.utilisateur.role.nom_role == 'Employé' %}
  <!-- Liens réservés aux Employés -->
  <a class="nav-link" href="{% url 'trainings' %}" onclick="setActive(this)">
    <i class="bi bi-book"></i>
    Formations
  </a>
  <a
    class="nav-link"
    href="{% url 'leave_requests' %}"
    onclick="setActive(this)"
  >
    <i class="bi bi-calendar-check"></i>
    Demandes de congé
  </a>
  <a
    class="nav-link"
    href="{% url 'employee_performance' %}"
    onclick="setActive(this)"
  >
    <i class="bi bi-graph-up-arrow"></i>
    Mes Performances
  </a>
  <!-- prettier-ignore -->
  {% endif %} {% if user.is_authenticated and user.utilisateur.role.nom_role == 'Utilisateur' %}
  <!-- Liens réservés aux Utilisateurs -->
  <a
    class="nav-link"
    href="{% url 'user_joboffers' %}"
    onclick="setActive(this)"
  >
    <i class="bi bi-briefcase-fill"></i>
    Offres d'emploi internes
  </a>
  {% endif %}

  <hr class="mt-5" />

  <!-- Liens accessibles à tous -->
  <a class="nav-link" href="{% url 'profile' %}" onclick="setActive(this)">
    <i class="bi bi-person-circle"></i>
    Profil
  </a>
  <a class="nav-link" href="{% url 'settings' %}" onclick="setActive(this)">
    <i class="bi bi-gear-fill"></i>
    Paramètres
  </a>
  <div class="resize-handle" id="resizeHandle"></div>
</nav>
